.cat-row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 40px; /* 버튼과 고양이 사이 간격 */
}

.cat-icon {
  width: 60px;
  animation: bounce 1.2s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
